*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Button Style */
button{
  display: block;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #333;
  background: #5800FF;
  color: #fff;
  border-radius: 5px;
}

/* Global  */
input, select, option{
  outline: none !important;
  min-width: 200px !important;
}
select, option{
  cursor: pointer;
}